<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/school</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <mapping class="entity.ApprenticeEntity"/>
        <mapping resource="ApprenticeEntity.hbm.xml"/>
        <mapping class="entity.CourseEntity"/>
        <mapping resource="CourseEntity.hbm.xml"/>
        <mapping class="entity.EducationalContractEntity"/>
        <mapping resource="EducationalContractEntity.hbm.xml"/>
        <mapping class="entity.RoomEntity"/>
        <mapping resource="RoomEntity.hbm.xml"/>
        <mapping class="entity.ScheduleEntity"/>
        <mapping resource="ScheduleEntity.hbm.xml"/>
        <mapping class="entity.TeacherEntity"/>
        <mapping resource="TeacherEntity.hbm.xml"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>